@using Westwind.Globalization

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@DbRes.T("AppTitle", "Common")</title>
    <partial name="_HeaderLinks" />

</head>
<body>


    <!-- .app -->
    <div class="app">

        <partial name="_TopHeader" />
        @*<partial name="_LeftSidebar" />*@
        <!-- .app-aside -->
        <aside class="app-aside app-aside-expand-md app-aside-light">
            <!-- .aside-content -->
            <div class="aside-content">
                <!-- .aside-header -->
                <header class="aside-header d-block d-md-none">
                    <!-- .btn-account -->
                    <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="assets/images/avatars/profile.jpg" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name">Beni Arisandi</span> <span class="account-description">Marketing Manager</span></span></button> <!-- /.btn-account -->
                    <!-- .dropdown-aside -->
                    <div id="dropdown-aside" class="dropdown-aside collapse">
                        <!-- dropdown-items -->
                        <div class="pb-3">
                            <a class="dropdown-item" href="user-profile.html"><span class="dropdown-icon oi oi-person"></span> Profile</a> <a class="dropdown-item" href="auth-signin-v1.html"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                        </div><!-- /dropdown-items -->
                    </div><!-- /.dropdown-aside -->
                </header><!-- /.aside-header -->
                <!-- .aside-menu -->
                <div class="aside-menu overflow-hidden">
                    <!-- .stacked-menu -->
                    <nav id="stacked-menu" class="stacked-menu">
                        <!-- .menu -->
                        <ul class="menu">
                            <!-- .menu-item -->
                            <li class="menu-item">
                                <a href="~/Home/Index" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                            </li><!-- /.menu-item -->
                            <!-- .menu-header -->
                            <li class="menu-header"><i class="menu-icon oi oi-wrench"></i> Administration </li><!-- /.menu-header -->
                            <!-- .menu-item -->
                            <li class="menu-item">
                                <a href="/Administration/Users/Index" class="menu-link"><span class="menu-icon oi oi-person"></span> <span class="menu-text">users</span></a> <!-- child menu -->
                              
                            </li><!-- /.menu-item -->
                            <!-- .menu-item -->
                            <li class="menu-item has-child">
                                <a href="#" class="menu-link"><span class="menu-icon oi oi-pencil"></span> <span class="menu-text">Lookups</span></a> <!-- child menu -->
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/Administration/Lookups/Index" class="menu-link">Lookup Categories</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Lookups/Items" class="menu-link">Lookup Items</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Province/Index" class="menu-link">Provinces</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/District/Index" class="menu-link">Districts</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Donor/Index" class="menu-link">Donors</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Program/Index" class="menu-link">Programs</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Implementer/Index" class="menu-link">Implementers</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Administration/Grant/Index" class="menu-link">Grants</a>
                                    </li>
                                </ul><!-- /child menu -->
                            </li><!-- /.menu-item -->
                           
                        </ul><!-- /.menu -->
                    </nav><!-- /.stacked-menu -->
                </div><!-- /.aside-menu -->
                <!-- Skin changer -->
                <footer class="aside-footer border-top p-2">
                    <button class="btn btn-light btn-block text-primary" data-toggle="skin"><span class="d-compact-menu-none">Night mode</span> <i class="fas fa-moon ml-1"></i></button>
                </footer><!-- /Skin changer -->
            </div><!-- /.aside-content -->
        </aside><!-- /.app-aside -->
        <!-- .app-main -->
        <main class="app-main">
            <!-- .wrapper -->
            <div class="wrapper">
                        @RenderBody()
            </div> <!-- /.wrapper -->
            <partial name="_Footer" />
        </main><!-- /.app-main -->
    </div><!-- /.app -->

    <partial name="_FooterLinks" />
    
    @RenderSection("Scripts", required: false)
</body>
</html>
